.bg {
    background: url('/images/todolist.png');
    background-size: cover;
    background-position-x: center;
}

/* .bg {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
} */

.form-container-login {
    position: absolute;
    width: 100%;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px #000;
}

.form-container-update {
    margin-top: 8vh;
    margin-left: 70vh;
    font-weight: 500;
}

.form-container-signup {
    position: absolute;
    top: 2vh;
    left: 70vh;
    width: 70vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-item {
    margin: 0 15px;
}

.dropdown-item {
    font-weight: 500;
    font-size: 15px;
}

.taskText {
    background-color: #f4f6f7;
    font-size: 1.2rem;
    width: 55rem;
    height: 2.25rem;
    border: none;
    cursor: default;
    border-color: transparent;
    outline: none;
}

.taskTextEdit {
    background-color: #f4f6f7;
    font-size: 1.2rem;
    width: 55rem;
    text-decoration: none;
    height: 2.25rem;
    border: thin;
}